# Porta de execução do backend local/VPS
PORT=3000

# Chave da API do Groq (https://console.groq.com)
GROQ_API_KEY=gsk_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# URL e Chave Global da Evolution API (WhatsApp)
EVOLUTION_API_URL=https://sua-vps.oracle.com
EVOLUTION_API_APIKEY=sua_apikey_global_aqui
